$body-bg: #c1bdba;
$form-bg: #bdd9fa;
$main: #1ab188;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$main: #1ab188;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 10px;

.login-btn {
  width: 150px;
  height: 40px;

  margin: 5%;
  margin-top: 10%;
  margin-left: 20%;
  border: none;

  bottom: 40px;
  display: inline-block;

  background: #70a1ff;
  text-align: center;
  border-radius: 45px;
  img {
    margin-right: 5px;
    vertical-align: middle;
  }
  span {
    font-weight: 700;
    color: white;
    text-transform: uppercase;
  }
}
.form-content-right-login {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-form {
  background: rgba($form-bg, 0.9);
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg, 0.3);
}
