.pplthanked {
  left: 15vw;
  top: 18%;
  position: absolute;

  &_text {
    font-weight: 600;

    font-size: 1.8vw;
  }
  @media only screen and (min-width: 1500px) {
    left: 20em;
    top: 7em;
  }
}
